@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

body {
	width: 100vw;
	min-height: 100vh;
	color: #363537;
	background: #2FBF71;
	line-height: 1.6;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: auto;
	padding: 0;
	position: relative;
}